#txHolder {
  height: 78px;
}

#tx {
  position: absolute;
  width: 100%;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--forms-bg);
  border-top: 1px solid var(--borders);
  border-bottom: 1px solid var(--borders);
}

.ticker-img {
  display: inline-block;
  width: 35px;
  height: 35px;
}

.subtitle {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.index-card-values {
  font-size: 1.1em;
}

.index-card-symbol {
  font-size: 3rem;
}

.index-card-symbol-holder {
  width: 4em;
}

table {
  margin-bottom: 0 !important;
}

.tx-box {
  min-height: 100px;
  margin-bottom: 5px !important;
  position: relative;
}

.asset-box {
  max-width: 100px;
  max-height: 100px;
  min-width: 100px;
  min-height: 100px;
  padding: 10px;
  float: left;
  margin-bottom: 5px;
}

.asset-box-name {
  max-width: 100%;
  min-height: 65px;
  max-height: 65px;
  word-wrap: break-word;
  overflow-y: scroll;
}

.asset-box-name > span {
  padding: 0;
}

.asset-box-amount {
  max-width: 100%;
  min-height: 20px;
  max-height: 20px;
  text-align: middle;
}

.asset-box-value > span {
  text-align: center;
}

.glass-tx {
    background-color: rgba(27, 27, 27, 0.3);
    border: 1px solid rgba(150, 150, 150, 0.125);
}