{% extends "layout.njk" %}

{% block navigation %}
	{% import 'macros/nav-macro.njk' as nav %}
	{{nav.active('about')}}
{% endblock %}

{% block content %}
	<div class="col-md-12">
		<br>
		<div class="row w-100 div-cell-dark bg-lux-gradient glass">
			<div class="col-md-12">
				<h2>About</h2>
				<p>Introducing Erg Explorer Live!</p>

				<br>

				<p>Feel free to join our Telegram group for any feedback or suggestions.</p>

				<br>

				<h2>Contact</h2>
				<p><strong><span class="erg-span">Telegram</span>:</strong> <a target="_new" href="https://t.me/ErgExplorer">Erg Explorer Live</a></p>
				<p><strong><span class="erg-span">E-mail</span>:</strong> <a href="mailto:ergexplorer@gmail.com">ergexplorer@gmail.com</a></p>

				<br>

				<h2>Donate</h2>
				<p><span class="erg-span"><strong>Ergo wallet</strong></span>: <a href="https://ergexplorer.com/addresses/9hiaAS3pCydq12CS7xrTBBn2YTfdfSRCsXyQn9KZHVpVyEPk9zk" id="address">9hiaAS3pCydq12CS7xrTBBn2YTfdfSRCsXyQn9KZHVpVyEPk9zk</a></p>

				<br>
				
			</div>
		</div>

		<br>
	</div>

	<br>
{% endblock %}