{% macro active(activePage = 'home') %}
<!-- Navigation Menu -->
<nav class="glass navbar navbar-expand-md navbar-dark p-1" style="border-bottom: 1px solid var(--main-color);">
    <div class="container-fluid">
        <div class="navbar-collapse flex-grow-1 text-right" id="navbarNav">
            <ul class="navbar-nav w-100 justify-content-center">
                <a class="navbar-brand" href="/"><img src="./images/logo.png" alt="Erg" height="30"> <span>Explorer</span><img src="./images/live.png" style="margin-left: 2px; padding-top: 3px;" alt="Live" height="30"></a>
            </ul>
        </div>
        <ul class="navbar-nav ms-auto" style="position: absolute; right: 15px;">
                <li class="nav-item">
                    <a style="line-height:36px;" class="nav-link" {%if activePage == "login" %} target="_blank" {%endif%} href="about"><i class="fas fa-question"></i></a>
                </li>
            </ul>
    </div>
</nav>
{% endmacro %}