@import 'tailwindcss';

:root {
	--main-color: #fb5c16;
	--main-color-hover: #ff8418;
	--striped-1: #262626;
	--text-color: #aaa;
	--forms-bg: #333;
	--borders: #4f4f4f;
	--text-light: #999;
	--text-strong: #ccc;
	--background: #222;
	--footer: var(--forms-bg);
}

body {
	background-color: var(--background);
	color: var(--text-color);
}

.text-primary {
	color: var(--main-color);
}

.border-primary {
	border-color: var(--main-color);
}

.bg-primary {
	background: var(--main-color);
}

.bg-bg {
	background: var(--background);
}

.bg-form {
	background: var(--forms-bg);
}
